<!-- header.ejs -->
<header class="navbar">
    <a href="/">
      <i class="fas fa-calendar-alt"></i> Today
    </a>
    <a href="/work">
      <i class="fas fa-briefcase"></i> Work
    </a>
  </header>
  